body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: blue; /*bleu */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
	
}
img {
    border: 2px solid #333; /* Ajoute une bordure autour de l'image */
    border-radius: 8px; /* Arrondit les coins de l'image */
    display: block; /* Force l'image à être un élément de bloc */
    margin: 20px auto; /* Centre l'image avec une marge */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: blue; /*bleu ciel */
    color: #fff;
}